
h1{
    color: indigo;
    font-size: 80px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.nombre-sitio{
    margin-top: 15px;
    margin-bottom: 15px;
}
h1 spam{
    color: slategray;
}
h1 spam1{
    color: yellowgreen;
}

h2{
    text-align: center;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1REM es 10 px*/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
      font-family: "Raleway", sans-serif;
      font-size: 1.6rem;
      line-height: 2;
}

/**Globales*/
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
h1, h2, h3{
    font-family: "Playfair Display", serif;
    margin: 0 0 5rem 0;
}
a{
    text-decoration: none;
    color: #000;
}
.contenedor{
    max-width: 150rem;
    margin: 0 auto;
}
img{
    max-width: 100%; /*la imagen toma el tamano del contenedor  conten 300 imagen 600 */
    display: block;
}
.btn{
    background: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background .3s ease-out;
    border: none;
    text-align: center;
}
.btn:hover{
    background: #769c02;
    cursor: pointer;
}

/*Utilidades*/
.text-center{
    text-align: center;
}
.max-width{
    max-width: 30rem;
}


/*Header y navegacion*/
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}
.contenedor-navegacion{
    border-top: 10px double #000000;
    border-bottom: 10px double #000000;

}

.nav-principal{
    
    padding: 2rem 0;
    display: flex;
    flex-direction:row; /*cuatro posibles valores*/
    /*en direccion row justify-content es para alinear horizontalmente y align-items es vertical*/
    justify-content:space-around; /*tiene varios valores*/
    align-items: center; /*tiene varios valores*/
}

/*hero*/
.hero{
    background-image: url(../img/chicharroniza.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

h1{
    color: #000;
}
h1 span{
    color: #037bc0;
}

/*Listado de categorias*/
.categorias{
    padding-top: 5rem;
}
.categorias h2{
    text-align: center;
}
.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover{
    background-color: #9d1905;
    color: #fff;
    border-bottom-right-radius: 1rem;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*para crear columnas*/
    /*para crear filas
    grid-template-rows: ;  */
    gap: 2rem;
}

/*Bloque nosotros*/
.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, #9d1905 50%, #9d1905 100%), url(../img/Carnitas-7.webp);
    background-position: left center;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    margin-top: 5rem;
}
.sobre-nosotros-grid{
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;*/
    display: flex;
    justify-content: end;
}
.texto-nosotros{
    /*grid-column: 2 / 3;*/ 
    flex-basis: 50%;
    padding-left: 8rem;
    color: #fff;
}
/*contenido principal, listado de productos*/
.contenido-principal{
    padding-top: 5rem ;
}
.listado-productos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}
/*utilidades*/

.producto:nth-child(1){
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img{
    height: 43rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(2){
    grid-column: 1 / 4;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(3){
    grid-column: 4 / 7;
}
.producto:nth-child(4){
    grid-column: 1 / 3;
}
.producto:nth-child(5){
    grid-column: 3 / 5;
}
.producto:nth-child(6){
    grid-column: 5 / 7;
}
.producto{
    background: #9d1905;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente si hay altura definida */
    text-align: center;
}
.producto img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.text-center{
    text-align: center;
}
.max-width{
    max-width: 30rem;
}
.texto-producto{
    text-align: center;
    color: #fff;
    padding: 2rem;
}
.texto-producto h3{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem 0;
}
.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}
/*footer*/
.site-footer{
    border-top: 1px solid #d0c6c6;
    margin-top: 5rem;
    padding-top: 5rem;
}
.grid-footer{
    /*display: flex;
    column-gap: 2rem;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}
/*.grid-footer div{
    flex: 1;
}*/
.footer-navegacion{
    text-align: center;
}
.f-titulo{
    margin-bottom: 0;
}
.footer-nav{
    display: flex;
    flex-direction: column;
}
.footer-copyrigh{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    border-top: 1px solid #efefef;
}

/*formulario*/
.btn{
    background-color: #9d1905;
    text-align: center;
    color: #000000;
}
.formulario{
    max-width: 60rem;
    margin: 0 auto;
}
.formulario fieldset{
    border: 1px solid #a73232;
    margin-bottom: 2rem;
}
.formulario legend{
    background-color: #a70000;
    width: 100%;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo label{
    flex-basis: 10rem;
}
.campo input:not([type="radio"]),
.campo textarea,
.campo select{
    flex: 1;
    border: 1px solid #7d3a3a;
    padding: 1rem;
}
/*nosotros*/
.contenido-nosotros{
    display: flex;
    grid-template-columns: 1fr 1fr;
    columns: 4rem;
}
.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagen{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5rem;
}
.imagen img {
  width: 70rem;
}

/*blog*/
.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}
.entrada{
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
}
.entrada-meta{
    display: flex;
    justify-content: space-between;
}
.entrada-meta p{
    font-weight: 700;
}
.entrada-meta span{
    color: #037bc0;
}

.contenido-entrada-blog{
    max-width: 60rem;
    margin: 0 auto;
}

/*Galeria*/
.galeria{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.galeria img{
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}
