{% extends 'base.html' %}
{% block title%} de inicio {% endblock %}
{% block content %}
    <main class="contenido-principal contenedor">
        <h2 class="text-center">Entrada Blog</h2>
         <article class="entrada contenido-entrada-blog">
                    <h2>Guia de salsitas</h2>

                    <div class="imagen">
                        <img src="{{ url_for('static', filename='img/chicharrones.webp')}}" alt="">
                    </div>

                    <div class="entrada-meta">
                        <p>Fecha: <span>22 de octubre del 2022</span></p>
                        <p>Escrito por: <span>Alberto Valdes</span></p>
                    </div>

                    <div class="entrada-blog">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit corrupti eos saepe aliquam nulla quas. Quod temporibus iure beatae praesentium suscipit quas eligendi assumenda quidem sequi cumque, repellat itaque modi.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium possimus natus itaque dolorem et odit nostrum corrupti sequi minus non nesciunt velit consequatur fugiat, cupiditate perspiciatis iure similique numquam!</p>
                    </div>
                    <div class="entrada-blog">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit corrupti eos saepe aliquam nulla quas. Quod temporibus iure beatae praesentium suscipit quas eligendi assumenda quidem sequi cumque, repellat itaque modi.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium possimus natus itaque dolorem et odit nostrum corrupti sequi minus non nesciunt velit consequatur fugiat, cupiditate perspiciatis iure similique numquam!</p>
                    </div>
                    <div class="entrada-blog">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit corrupti eos saepe aliquam nulla quas. Quod temporibus iure beatae praesentium suscipit quas eligendi assumenda quidem sequi cumque, repellat itaque modi.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium possimus natus itaque dolorem et odit nostrum corrupti sequi minus non nesciunt velit consequatur fugiat, cupiditate perspiciatis iure similique numquam!</p>
                    </div>
                    <div class="entrada-blog">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit corrupti eos saepe aliquam nulla quas. Quod temporibus iure beatae praesentium suscipit quas eligendi assumenda quidem sequi cumque, repellat itaque modi.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium possimus natus itaque dolorem et odit nostrum corrupti sequi minus non nesciunt velit consequatur fugiat, cupiditate perspiciatis iure similique numquam!</p>
                    </div>
                
                </article>
        
    
    </main>
{% endblock %}