{% extends 'base.html' %}
{% block title%} de inicio {% endblock %}
{% block content %}
    <main class="contenido-principal contenedor">
        <h2 class="text-center">cuida el agua</h2>
         <article class="entrada contenido-entrada-blog">
                   

                    <div class="imagen">
                        <img src="{{ url_for('static', filename='img/chicharrones.webp')}}" alt="">
                    </div>

                    <div class="entrada-meta">
                        <p>Fecha: <span>31 de febrero del 2025</span></p>
                        <p>Escrito por: <span>Tilin descuido</span></p>
                    </div>

                    <div class="entrada-blog">
                        <p>En México los recursos hídricos enfrentan retos distintos según su tipo y las condiciones climáticas. El agua superficial, que aporta el 60% del consumo potable, se concentra en gran parte en los ríos del centro y sur del país, pero su principal problema es la contaminación por aguas residuales domésticas, industriales y agrícolas que se vierten sin tratamiento. El agua subterránea, proveniente de los acuíferos, sufre sobreexplotación en casi una quinta parte de ellos, además de procesos de salinización e intrusión marina que deterioran su calidad, elevan los costos de extracción y provocan hundimientos en el terreno.  

La precipitación anual promedio es de 1.5 millones de hectómetros cúbicos, con dos tercios concentrados entre junio y septiembre, principalmente en el sur-sureste. Sin embargo, el cambio climático ha generado variaciones: mientras en estados como Campeche y Veracruz las lluvias han aumentado, en la Ciudad de México y el Estado de México se han reducido. Por otro lado, las sequías son cada vez más frecuentes e intensas, afectando al 52% del territorio nacional que se encuentra en zonas áridas o semiáridas. En 2021 se registraron más de ocho mil sequías, muchas de ellas severas o extremas, con pérdidas de cultivos y riesgo de incendios forestales.  

Ante este panorama, se proponen acciones como mejorar el monitoreo del uso del agua en agricultura y ganadería, impulsar proyectos climáticos con financiamiento verde, actualizar la delimitación de los acuíferos con criterios geofísicos y modernizar la infraestructura hídrica para reducir fugas y tomas clandestinas.

</p>
                        

                    </div>
                
                </article>
        
    
    </main>
{% endblock %}