{% extends 'base.html' %}
{% block title%} de inicio {% endblock %}
{% block content %}
    <main class="contenido-principal contenedor">
        <h2 class="text-center">Galeria</h2>
        <ul class="galeria">
            <li>
                <a href="{{ url_for('static', filename='img/en don chicharron.jpg')}}">
                    <img src="{{ url_for('static', filename='img/en don chicharron.jpg')}}" alt="">
                </a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='img/en don chicharron.jpg')}}">
                    <img src="{{ url_for('static', filename='img/en don chicharron.jpg')}}" alt="">
                </a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='img/en don chicharron.jpg')}}">
                    <img src="{{ url_for('static', filename='img/en don chicharron.jpg')}}" alt="">
                </a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='img/en don chicharron.jpg')}}">
                    <img src="{{ url_for('static', filename='img/en don chicharron.jpg')}}" alt="">
                </a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='img/en don chicharron.jpg')}}">
                    <img src="{{ url_for('static', filename='img/en don chicharron.jpg')}}" alt="">
                </a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='img/en don chicharron.jpg')}}">
                    <img src="{{ url_for('static', filename='img/en don chicharron.jpg')}}" alt="">
                </a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='img/en don chicharron.jpg')}}">
                    <img src="{{ url_for('static', filename='img/en don chicharron.jpg')}}" alt="">
                </a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='img/en don chicharron.jpg')}}">
                    <img src="{{ url_for('static', filename='img/en don chicharron.jpg')}}" alt="">
                </a>
            </li>
            <li>
                <a href="{{ url_for('static', filename='img/en don chicharron.jpg')}}">
                    <img src="{{ url_for('static', filename='img/en don chicharron.jpg')}}" alt="">
                </a>
            </li>
            
        </ul>
    
    </main>
{% endblock %}