{% extends 'base.html' %}
{% block title%} de inicio {% endblock %}
{% block content %}
   
   <section class="sobre-nosotros">
        <div class="contenedor sobre-nosotros-grid">
            <div class="texto-nosotros">
                <p>El agua es vital porque sostiene la vida, regula el clima y permite la producción de alimentos y energía. 
                    Sin ella no existirían los ecosistemas ni las comunidades humanas.
                     Además, es clave para la salud, la agricultura y la industria. Su cuidado asegura el futuro de las generaciones y del planeta.

</p>
            </div>
        </div>
   </section>


   <main class="contenido-principal contenedor">
        <h2 class="text-center">¿porqué importa?</h2>
        <div class="listado-productos">
            <div class="producto">
                <div class="texto-producto">
                    <h3>importancia vital del agua</h3>
                    <p>El agua es vital porque sostiene la vida, regula la temperatura y mantiene los ecosistemas. Sin ella, no existiría la biodiversidad ni la supervivencia humana.</p>
                    
                </div>
            </div>
            <div class="producto">
            
                <div class="texto-producto">
                    <h3>Distribucion del agua en el planeta</h3>
                    <p>La mayor parte del agua del planeta es salada (97%). Solo el 3% es dulce y gran parte está congelada o bajo tierra, lo que limita el acceso directo.</p>
                   
                </div>
            </div>
            <div class="producto">
             
                <div class="texto-producto">
                    <h3>El agua en la historia de las civilizaciones</h3>
                    <p>Las civilizaciones nacieron junto a ríos y lagos: Egipto en el Nilo, Mesopotamia en el Tigris y Éufrates, México en el Lago de Texcoco. El agua permitió agricultura y organización social.</p>
                    
                </div>
            </div>
            <div class="producto">
             
                <div class="texto-producto">
                    <h3>El agua como derecho humano</h3>
                    <p> En 2010 la ONU reconoció el agua potable y el saneamiento como derecho humano, indispensable para la salud y la dignidad.
                    </p>
               
                </div>
            </div>
            <div class="producto">
             
                <div class="texto-producto">
                    <h3>usos fundamentales del agua</h3>
                    <p> El agua se usa para beber, cultivar, producir energía, sostener ecosistemas y en actividades cotidianas. Es un recurso indispensable en todos los ámbitos.</p>
                </div>
            </div>
            <div class="producto">
             
                <div class="texto-producto">
                    <h3>el agua en la cultura y la vida diaria </h3>
                    <p>En la cultura y la vida diaria, el agua simboliza pureza y vida. Está presente en rituales religiosos, en el arte y en tareas cotidianas como cocinar o limpiar.                </p>
                    
                </div>
            </div>
        </div>
   </main>

  

{% endblock %}