{% extends 'base.html' %}
{% block title%} de inicio {% endblock %}
{% block content %}
   
   <section class="sobre-nosotros">
        <div class="contenedor sobre-nosotros-grid">
            <div class="texto-nosotros">
                <p>El agua es vital porque sostiene la vida, regula el clima y permite la producción de alimentos y energía. 
                    Sin ella no existirían los ecosistemas ni las comunidades humanas.
                     Además, es clave para la salud, la agricultura y la industria. Su cuidado asegura el futuro de las generaciones y del planeta.

</p>
            </div>
        </div>
   </section>


   <main class="contenido-principal contenedor">
        <h2 class="text-center">¿porqué importa?</h2>
        <div class="listado-productos">
            <div class="producto">
                <div class="texto-producto">
                    <h3>importancia vital del agua</h3>
                    <p>Es importante porque los estudiantes deben aprender a usar la IA de forma ética y responsable.
                         Si no se conoce bien, puede llevar a la desinformación plagio o dependencia tecnologica. 
                         La educacion ayuda a prevenir estos riesgos y a formar usuarios criticos.</p>
                    
                </div>
            </div>
            <div class="producto">
            
                <div class="texto-producto">
                    <h3>Distribucion del agua en el planeta</h3>
                    <p>La IA se ha vuelto popular porque facilita tareas, genera contenido rapido y esta en aplicaciones que usamos a diario.
                         Sin embargo, esa facilidad puede llevar a que las personas la utilicen sin pensar en las consecuencias</p>
                   
                </div>
            </div>
            <div class="producto">
             
                <div class="texto-producto">
                    <h3>El agua en la historia de las civilizaciones</h3>
                    <p>Permite ahorrar tiempo, mejorar el aprendizaje y automatizar procesos. 
                        Cuando se usa responsablemente, apoya la creatividad y la productividad sin reemplazar el pensamiento propio</p>
                    
                </div>
            </div>
            <div class="producto">
             
                <div class="texto-producto">
                    <h3>El agua como derecho humano</h3>
                    <p> IA generativa (crea texto, imagenes y audio)
                        IA predictiva (pronostica resultados)
                        IA convercional (chatbots)
                        IA de reconocimiento (rostros y voz)
                        Cada una tiene riesgos si se usa sin cuidado
                    </p>
               
                </div>
            </div>
            <div class="producto">
             
                <div class="texto-producto">
                    <h3>usos fundamentales del agua</h3>
                    <p> La IA no solo procesa datos: también aprende de ellos y puede tomar decisiones.
                        
                        Esto la hace poderosa, pero también peligrosa si se usa para manipular, engañar o difundir información falsa</p>
                </div>
            </div>
            <div class="producto">
             
                <div class="texto-producto">
                    <h3>el agua en la cultura y la vida diaria </h3>
                    <p>La inteligencia artificial, o IA, es la disciplina de la informática que desarrolla sistemas capaces de realizar tareas que, hasta ahora, requerían inteligencia humana. 

Esto incluye entender el lenguaje natural, analizar datos, aprender de la experiencia y tomar decisiones de manera autónoma.                    </p>
                    
                </div>
            </div>
        </div>
   </main>

  

{% endblock %}