{% extends 'base.html' %}
{% block title%} de inicio {% endblock %}
{% block content %}
   <main class="contenido-principal contenedor">
        
        <div class="contenido-nosotros">
             <div class="imagen">
                <img src="{{ url_for('static', filename='img/OIP.webp')}}" alt="">
                    <div class="informacion-nosotros">
                         <aside>
                <h3>Po tips</h3>
                    <ul>
                        <li>
                            <a href="">  Educación ambiental: Promover campañas y programas que enseñen hábitos responsables en el consumo doméstico, como reparar fugas y evitar el desperdicio.
</a>
                        </li>
                        <li>
                            <a href="">  Infraestructura hídrica: Modernizar y conservar redes de distribución para reducir pérdidas por fugas y tomas clandestinas.
</a>
                        </li>
                        <li>
                            <a href="">  Monitoreo agrícola y ganadero: Sustituir estimaciones por mediciones precisas del uso del agua, logrando una gestión más eficiente
</a>
                        </li>
                        <li>
                            <a href="">  Proyectos climáticos: Impulsar prácticas sostenibles mediante bonos de carbono y financiamientos verdes como el Fondo Verde del Clima
</a>
                        </li>
                         <li>
                            <a href="">	Delimitación de acuíferos: Actualizar la división de los acuíferos con criterios geofísicos en lugar de geopolíticos, para mejorar su gestión.
</a>
                        </li>
                        <li>
                            <a href="">	 Tratamiento de aguas residuales: Asegurar que las descargas domésticas, industriales y agrícolas reciban tratamiento antes de llegar a ríos y lagos.

</a>
                        </li>
                        
                        
                    </ul>
                </aside>
                    </div>
             </div>
        </div>
    </main>
{% endblock %}