{% extends 'base.html' %}
{% block title%} de inicio {% endblock %}
{% block content %}
  

   <main class="contenido-principal contenedor">
        <h2 class="text-center">Nuestras cosas</h2>
        <div class="listado-productos">
            <div class="producto">
                <img src="{{ url_for('static', filename='img/carnitas-7.webp')}}" alt="">
                <div class="texto-producto">
                    <h3>Puro Guiso</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    <p class="precio">100 varos</p>
                    <a href="#">pa casita</a>
                </div>
            </div>
             <div class="producto">
                <img src="{{ url_for('static', filename='img/carnitas-7.webp')}}" alt="">
                <div class="texto-producto">
                    <h3>Puro Guiso</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    <p class="precio">100 varos</p>
                    <a href="#">pa casita</a>
                </div>
            </div>
             <div class="producto">
                <img src="{{ url_for('static', filename='img/carnitas-7.webp')}}" alt="">
                <div class="texto-producto">
                    <h3>Puro Guiso</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    <p class="precio">100 varos</p>
                    <a href="#">pa casita</a>
                </div>
            </div>
             <div class="producto">
                <img src="{{ url_for('static', filename='img/carnitas-7.webp')}}" alt="">
                <div class="texto-producto">
                    <h3>Puro Guiso</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    <p class="precio">100 varos</p>
                    <a href="#">pa casita</a>
                </div>
            </div>
             <div class="producto">
                <img src="{{ url_for('static', filename='img/carnitas-7.webp')}}" alt="">
                <div class="texto-producto">
                    <h3>Puro Guiso</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    <p class="precio">100 varos</p>
                    <a href="#">pa casita</a>
                </div>
            </div>
             <div class="producto">
                <img src="{{ url_for('static', filename='img/carnitas-7.webp')}}" alt="">
                <div class="texto-producto">
                    <h3>Puro Guiso</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    <p class="precio">100 varos</p>
                    <a href="#">pa casita</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}