{% extends 'base.html' %}
{% block title%} de inicio {% endblock %}
{% block content %}
  

   <main class="contenido-principal contenedor">
        <h2 class="text-center">Problemas</h2>
        <div class="listado-productos">
            <div class="producto">
                <div class="texto-producto">
                    <h3>Desperdicio doméstico
 </h3>
                    <p>
Muchas personas dejan correr el agua innecesariamente al lavar autos, regar jardines o cepillarse los dientes. Estos hábitos cotidianos generan un consumo excesivo que podría evitarse con prácticas más responsables.</p>
                    
                    
                </div>
            </div>
             <div class="producto">
       
                <div class="texto-producto">
                    <h3>Fugas en infraestructuras</h3>
                    <p>Las tuberías viejas o mal mantenidas provocan pérdidas masivas de agua potable antes de llegar a los hogares. Este problema es común en ciudades y representa un desperdicio invisible pero muy significativo</p>
                </div>
            </div>
             <div class="producto">
             
                <div class="texto-producto">
                    <h3>Agricultura intensiva</h3>
                    <p>El uso de sistemas de riego poco eficientes consume enormes cantidades de agua en los cultivos. Además, la sobreexplotación de acuíferos reduce las reservas naturales y afecta el equilibrio de los ecosistemas.</p>
                    
                    
                </div>
            </div>
             <div class="producto">
                
                <div class="texto-producto">
                    <h3>Contaminación industrial</h3>
                    
                    <p>Muchas fábricas vierten químicos y residuos en ríos y lagos, inutilizando grandes volúmenes de agua. Esto no solo reduce la disponibilidad del recurso, sino que también pone en riesgo la salud humana y animal.</p>
                    
                </div>
            </div>
             <div class="producto">
                
                <div class="texto-producto">
                    <h3>Deforestación y urbanización</h3>
                    <p> 
La pérdida de bosques y la expansión de ciudades alteran el ciclo natural del agua. Se reduce la capacidad de los suelos para retener y filtrar agua, aumentando sequías e inundaciones.</p>
                    
                    
                </div>
            </div>
             <div class="producto">
                <div class="texto-producto">
                    <h3>Falta de conciencia social
</h3>
                    <p> La escasa educación ambiental provoca que las personas no valoren el recurso ni adopten hábitos responsables. Sin cambios en la cultura del consumo, el problema se mantiene y se agrava con el tiempo.</p>
                    
                    
                </div>
            </div>
        </div>
    </main>
{% endblock %}